{% extends 'base.html.twig' %}

{% block title %}{#Register 'or'->#}Inscription
{% endblock %}

{% block body %}
	<section class="container mt-4">
		<div class="row">
			<div class="col">

				<h1>Inscription</h1>
				{{ form_errors(registrationForm) }}
				{{ form_start(registrationForm) }}

				<legend>
					Mon identity
				</legend>

				{{ form_row(registrationForm.email) }}

				{{ form_row(registrationForm.plainPassword, {
                   label: 'Password'
                   }) }}


				{{ form_row(registrationForm.lastname, {
					lable: 'Lastname'
				}) }}

				{{ form_row(registrationForm.firstname, {
					lable: 'First name'
				}) }}


				{{ form_row(registrationForm.address, {
					lable: 'Adress'
				}) }}

				{{ form_row(registrationForm.zipcode, {
					lable: 'Zip code'
				}) }}

				{{ form_row(registrationForm.city, {
					lable: 'City'
				}) }}


				{{ form_row(registrationForm.agreeTerms) }}

				<button type="submit" class="btn btn-info mt-3 mb-5">
					M'inscrite
				</button>


				{{ form_end(registrationForm) }}


			</div>
		</div>

	</section>


{% endblock %}
